* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
}

.container {
  background-color: azure;
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}

.active {
  background-color: red;
  color: black;
  transition: all 0.1s;
}
