.container {
  background-color: #dfdad6;
}

.addForm {
  padding: 2.8rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.form__title {
  width: fit-content;
  background-color: #fafafa;
  color: black;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}
