#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wrapper {
  position: relative;
  display: flex;
  min-width: 350px;
  min-height: 300px;
}

.steps {
  width: 300px;

  background-color: rgb(204, 205, 206);
  padding: 1rem;
  border-radius: 5%;
}

.numbers {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.close {
  position: absolute;
  color: #ffffff;
  font-weight: 800;
  background-color: rgb(170, 65, 231);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 0.5rem;
  top: -50px;
  right: -50px;
  cursor: pointer;
}

.message {
  color: #000000;
  font-weight: bold;
}

.step-number--active {
  background-color: rgb(170, 65, 231);
  padding: 0.5rem;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.step-number--normal {
  background-color: rgb(240, 237, 241);
  padding: 0.5rem;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  justify-self: center;
  color: #000000;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.counter {
  width: 350px;
  height: 250px;
  border: solid;
  border-color: #ffffff;
  border-width: 0.5px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter-wrapper {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  margin: 10px;
}

.date {
  margin: 1rem;
}
